<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/img_nutri_v2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/img_nutri_v2"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".ui.screen.ActivityMain"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            tools:ignore="Instantiatable"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.screen.ActivitySplash"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".ui.screen.ActivityVideoDemo"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
<!--        <activity-->
<!--            android:name=".twitter.PrepareRequestTokenActivity"-->
<!--            android:launchMode="singleTask"-->
<!--            tools:ignore="ExportedActivity"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->

<!--                <data-->
<!--                    android:host="callback"-->
<!--                    android:scheme="x-oauthflow-twitter" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
        <activity android:name=".ui.screen.ActivityExerciseList"
            tools:ignore="Instantiatable">
        </activity>
        <activity android:name=".ui.screen.ActivityFuelList"
            tools:ignore="Instantiatable">
        </activity>
        <activity android:name=".ui.screen.ActivityMainWorkoutList"
            tools:ignore="Instantiatable">
        </activity>
        <activity android:name=".ui.screen.ActivityMenu" >
        </activity>
        <activity android:name=".ui.screen.ActivityNutritionList"
            tools:ignore="Instantiatable">
        </activity>
        <activity android:name=".ui.screen.ActivityPremiumWorkoutList"
            tools:ignore="Instantiatable">
        </activity>
        <activity android:name=".ui.screen.ActivitySettings"
            tools:ignore="Instantiatable">
        </activity>
        <activity android:name=".ui.screen.ActivityResetRestoreList"
            tools:ignore="Instantiatable">
        </activity>
        <activity android:name=".ui.screen.ActivityExerciseDetail"
            tools:ignore="Instantiatable">
        </activity>
        <activity android:name=".ui.screen.ActivityNutritionDetail"
            tools:ignore="Instantiatable">
        </activity>
        <activity android:name=".ui.screen.ActivityWorkoutDetail"
            tools:ignore="Instantiatable">
        </activity>
        <activity android:name=".ui.screen.ActivityWorkoutComplete"
            tools:ignore="Instantiatable">
        </activity>
        <activity android:name=".ui.screen.ActivityWorkoutSelect"
            tools:ignore="Instantiatable">
        </activity>
        <activity android:name=".ui.screen.PatientPhotoDetailFragment"
            tools:ignore="ExportedActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>